// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://unpkg.com/ionicons@4.5.0/dist/css/ionicons.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.currency {
    font-size: 4rem;
}

.icon-2x {
    font-size: 2rem;
}

.icon-3x {
    font-size: 3rem;
}

.flash-message {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    max-width: 100%;
    width: 40rem;
    margin: 0 auto;
    top: 10rem;
}
